# OSX
#
.DS_Store

# Xcode
#
build/
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Bundle artifact
*.jsbundle

# CocoaPods
Pods/

/js

Config.ts
Config.js
Config.d.ts
Config.sample.d.ts

package-lock.json
.vscode/launch.json

coverage/
